/*
* Estilos de Nuestro juego de Memoria
*/

/****************
    Generales
*****************/

body{
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.container{
    width: 1000px;
    margin: 0 auto;
}



/****************
      Header
*****************/

.header{
    background-color: rgb(113, 185, 248);
    height: 100px;
    margin-bottom: 50px;
}

h2{
    color: white;
    text-align: center;
    margin: 0;
}

/****************
    Container
*****************/

.principal-box{
    background-color:  rgba(34, 139, 231, 0.884);
    width: 1000px;
    height: 750px;
}

.box{
    width: 125px;
    height: 125px;
    float: left;
    margin: 10px;
    padding: 20px;
    background-color: white;
    cursor: pointer;
}

/****************
      Footer
*****************/